Using **BOSTON** DataSet from SkiKit.
It Consists of House Data

In [1]:
# Importing of All Required Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Initializing SciKit
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
# Loading Boston Data Set
from sklearn.datasets import load_boston
boston = load_boston()

In [4]:
# Getting Data and Target
df_x = pd.DataFrame(boston.data,columns=boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [5]:
# Data Description
df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [8]:
# Training of DataSet
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print(regressor.intercept_)
print(regressor.coef_)
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

[38.09169493]
[[-1.19443447e-01  4.47799511e-02  5.48526168e-03  2.34080361e+00
  -1.61236043e+01  3.70870901e+00 -3.12108178e-03 -1.38639737e+00
   2.44178327e-01 -1.09896366e-02 -1.04592119e+00  8.11010693e-03
  -4.92792725e-01]]
Mean Squared Error: 33.448979997676496